<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>Text</string>
		<key>image</key>
		<string>home_icon_hot.png</string>
	</dict>
	<dict>
		<key>text</key>
		<string>Image</string>
		<key>image</key>
		<string>home_icon_liked.png</string>
	</dict>
	<dict>
		<key>text</key>
		<string>Popular</string>
		<key>image</key>
		<string>home_icon_popular.png</string>
	</dict>
	<dict>
		<key>text</key>
		<string>Rec</string>
		<key>image</key>
		<string>home_icon_rec.png</string>
	</dict>
</array>
</plist>
